<nav>
    <div>
      <div class="appointment-list-buttons-container">
        <div class="appointment-list-button">
          <a [routerLink]="'appointments'">Wizyty</a>
        </div>
        <div class="appointment-list-button">
          <a [routerLink]="'doctors'">Doktorzy</a>
        </div>
        <div class="appointment-list-button">
          <a [routerLink]="'doctor/create'">Dodaj doktora</a>
        </div>
        <div class="appointment-list-button">
          <a [routerLink]="'appointment/create'">Dodaj wizytę</a>
        </div>
      </div>
    </div>
</nav>
