<article *ngIf="appointment">
    <header><h2>Edit character</h2></header>
  
    <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-4 p-2">
          <div>
            <label for="patientName">Patient's name:</label>
            <input id="patientName" name="patientName" [(ngModel)]="appointment.patientName"/>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-4 p-2">
          <div>
            <label for="patientAge">Patient's age:</label>
            <input id="patientAge" name="patientAge" [(ngModel)]="appointment.patientAge"/>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-4 p-2">
          <fieldset *ngIf="doctors">
            <legend>Assigned doctor:</legend>
            <div *ngFor="let doctor of doctors.doctors">
              <label>
                <input type="radio" name="doctor" *ngIf="appointment" [(ngModel)]="appointment.assignedDoctor" [value]="doctor.id"/>
                {{doctor.name}}
              </label>
            </div>
          </fieldset>
        </div>
      </div>
  
      <div class="row">
        <div class="col-2 p-2">
          <button type="submit">Update</button>
        </div>
        <div class="col-2 p-2">
          <button type="button" (click)="form.resetForm(original)">Reset</button>
        </div>
      </div>
    </form>
</article>
  
  