.appointment-list-buttons-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  line-height: 20px;
}

.appointment-list-button{
  background-color: #065eff;
  color: antiquewhite;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  flex-grow:1;
  margin:10px;
  text-align: center;
  transition: 0.1s;
}

.appointment-list-button:hover{
  border-radius: 10px;
  font-weight: bold;
  background-color: rgba(6, 131, 255, 0.98);
}
