<article *ngIf="appointment">
    <header><h2>{{appointment.patientName}} : {{appointment.id}}</h2></header>
  
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="row mb-2">
            <div class="col-6">
              <span>{{appointment.assignedDoctor.id}}</span>
            </div>
          </div>
  
          <div class="row mb-2">
            <div class="col-6">
              Patient's Age
            </div>
            <div class="col-6">
              <span>{{appointment.patientName}}</span>
            </div>
          </div>

  
        </div>
  
      </div>
    </div>
  </article>
  
  